<div class="header mt-5">
    <section class="dark-mode vh-100 bg-repeat-0 bg-position-center bg-size-cover overflow-hidden" style="margin-top:60px; z-index: 99;">
        <div class="container vh-100">
            <div class="row flex-nowrap vh-100">
                <div class="col-lg-4 col-md-5 d-flex flex-column text-center text-md-start py-5">
                    <!-- <div style="z-index: 51;"> -->
                        <img class="display-3 mt-auto mb-4" src="/static/img/INTOON_main.png" width="300" alt="Intoon">
                        <!-- <p class="lead text-light opacity-70 pb-5 mb-0 mb-md-3">Create your life in AI Culture</p> -->
                        <!--            <img src="/static/img/landing/intro/hero/switcher.svg" width="212" class="d-block mx-auto mx-md-0" alt="Light / Dark Mode">-->
                        <div class="position-relative d-flex align-items-center justify-content-center justify-content-md-start mb-md-4 mb-lg-5 mt-auto">
                            <div class="btn btn-icon btn-secondary rounded-circle">
                                <i class="bx bx-chevron-down"></i>
                            </div>
                            <a href="#hot" class="nav-link stretched-link text-light fw-normal opacity-80 py-2 px-3"
                            data-scroll data-scroll-offset="70">Hot Feeds</a>
                        </div>
                    <!-- </div> -->
                </div>
                <div class="d-flex flex-shrink-0 align-items-start">
                    <img src="/static/img/landing/intoon_intro/mypage.png" class="rellax d-block flex-shrink-0 mt-5"
                         width="486" height="1470" alt="Screens" data-rellax-speed="-4" data-disable-parallax-down="md">
                    <img src="/static/img/landing/intoon_intro/detail.png" class="rellax d-block flex-shrink-0"
                         width="486" height="1480" alt="Screens" data-rellax-speed="4" data-disable-parallax-down="md">
                    <img src="/static/img/landing/intoon_intro/lounge22.png" class="rellax d-block flex-shrink-0 mt-n5"
                         width="486" height="1390" alt="Screens" data-rellax-speed="4" data-disable-parallax-down="md">
                </div>
            </div>
        </div>
    </section>
</div>