<!-- Landings (Grid) -->
<section id="landings" class="container text-center pt-5 mt-2 mt-md-4 mt-lg-5">
<h2 class="h1 pt-2 pt-lg-0">Recommand Feed</h2>
<p class="fs-lg pb-2 pb-md-3 pb-lg-0 mb-4 mb-lg-5">여러 사람들이 관심을 가지고 있는 피드를 구경하세요</p>
<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3">
    <div class="col card-hover shadow-none bg-none position-relative mb-4 mb-lg-5">
    <img src="/static/img/landing/intro/landings/mobile-app-showcase-v1.jpg" class="b-block border rounded-3 shadow-sm" alt="Mobile App Showcase v.1">
    <h3 class="h5 mt-4 mb-3 mb-lg-0">
        <a href="landing-mobile-app-showcase-v1.html" class="stretched-link">Mobile App Showcase v.1</a>
    </h3>
    </div>
    <div class="col card-hover shadow-none bg-none position-relative mb-4 mb-lg-5">
    <img src="/static/img/landing/intro/landings/mobile-app-showcase-v2.jpg" class="b-block border rounded-3 shadow-sm" alt="Mobile App Showcase v.2">
    <h3 class="h5 mt-4 mb-3 mb-lg-0">
        <a href="landing-mobile-app-showcase-v2.html" class="stretched-link">Mobile App Showcase v.2</a>
    </h3>
    </div>
    <div class="col card-hover shadow-none bg-none position-relative mb-4 mb-lg-5">
    <img src="/static/img/landing/intro/landings/startup.jpg" class="b-block border rounded-3 shadow-sm" alt="Mobile App Showcase v.2">
    <h3 class="h5 mt-4 mb-3 mb-lg-0">
        <a href="landing-startup.html" class="d-flex justify-content-center align-items-center stretched-link">Startup</a>
    </h3>
    </div>
    <div class="col card-hover shadow-none bg-none position-relative mb-4 mb-lg-5">
    <img src="/static/img/landing/intro/landings/product-landing.jpg" class="b-block border rounded-3 shadow-sm" alt="Product Landing">
    <h3 class="h5 mt-4 mb-3 mb-lg-0">
        <a href="landing-product.html" class="d-flex justify-content-center align-items-center stretched-link">Product Landing<span class="badge bg-success fs-xs ms-2">New</span></a>
    </h3>
    </div>
    <div class="col card-hover shadow-none bg-none position-relative mb-4 mb-lg-5">
    <img src="/static/img/landing/intro/landings/saas-v1.jpg" class="b-block border rounded-3 shadow-sm" alt="SaaS v.1">
    <h3 class="h5 mt-4 mb-3 mb-lg-0">
        <a href="landing-saas-v1.html" class="stretched-link">SaaS v.1</a>
    </h3>
    </div>
    <div class="col card-hover shadow-none bg-none position-relative mb-4 mb-lg-5">
    <img src="/static/img/landing/intro/landings/saas-v2.jpg" class="b-block border rounded-3 shadow-sm" alt="SaaS v.2">
    <h3 class="h5 mt-4 mb-3 mb-lg-0">
        <a href="landing-saas-v2.html" class="stretched-link">SaaS v.2</a>
    </h3>
    </div>
</div>
</section>
