<!-- Page title + filters -->
<!--<section class="container d-sm-flex align-items-center justify-content-between pb-4 mb-2 mb-lg-3">-->
<!--    <h1 class="mb-sm-0 me-sm-3">Portfolio List</h1>-->
<!--    <select class="form-select" style="width: 240px;">-->
<!--      <option value="All categories">All categories</option>-->
<!--      <option value="Web Design">Web Design</option>-->
<!--      <option value="Graphic Design">Graphic Design</option>-->
<!--      <option value="Branding">Branding</option>-->
<!--      <option value="UI / UX">UI / UX</option>-->
<!--      <option value="Motion Design">Motion Design</option>-->
<!--    </select>-->
<!--</section>-->


<!--원래 user의 id를 통해 조회해 오지만, Mongo에서 쿼리를 통해 가져와야 할 것 같음-->

<!-- Portfolio list -->
<section class="container pb-2 pb-lg-3">
    <h2 class="h1 text-center pt-1 pt-md-3 pt-lg-4 pb-3 pb-md-4 mb-0 mb-lg-3">Hot TOONS</h2>
    <div class="row pb-5 mb-md-4 mb-lg-5" id="hot">
        <div class="rellax col-md-6 pb-1 mb-3 pb-md-0 mb-md-0" data-rellax-percentage="0.5" data-rellax-speed="0.8"
             data-disable-parallax-down="md">
            <a href="portfolio-single-project.html">
                <img src="{{content.content_img01}}" class="rounded-3" width="600" alt="DB Query 필요"> <!--이미지-->
            </a>
        </div>
        <div class="rellax col-md-6" data-rellax-percentage="0.5" data-rellax-speed="-0.6"
             data-disable-parallax-down="md">
            <div class="ps-md-4 ms-md-2">
                <div class="fs-sm text-muted mb-1">게시물 작성일자</div>
                <h2 class="h3">게시물 제목</h2>
                <a href="#" class="d-table badge bg-faded-primary text-primary fs-sm mb-3">작성자[링크]</a>
                <p class="d-md-none d-lg-block pb-3 mb-2 mb-md-3">게시물 내용</p>
                <a href="portfolio-single-project.html" class="btn btn-outline-primary">게시물 링크 매핑</a>
            </div>
        </div>
    </div>

    <!-- Item -->
    <div class="row pb-5 mb-md-4 mb-lg-5">
        <div class="rellax col-md-6 order-md-2 pb-1 mb-3 pb-md-0 mb-md-0" data-rellax-percentage="0.5"
             data-rellax-speed="0.8" data-disable-parallax-down="md">
            <a href="portfolio-single-project.html" class="float-md-end">
                <img src="{{content.content_img01}}" class="rounded-3" width="600" alt="DB Query 필요">
            </a>
        </div>
        <div class="rellax col-md-6 order-md-1 pt-md-4 pt-lg-5" data-rellax-percentage="0.5" data-rellax-speed="-0.6"
             data-disable-parallax-down="md">
            <div class="ps-md-4 ms-md-2">
                <div class="fs-sm text-muted mb-1">게시물 작성일자</div>
                <h2 class="h3">게시물 제목</h2>
                <a href="#" class="d-table badge bg-faded-primary text-primary fs-sm mb-3">작성자[링크]</a>
                <p class="d-md-none d-lg-block pb-3 mb-2 mb-md-3">게시물 내용</p>
                <a href="portfolio-single-project.html" class="btn btn-outline-primary">게시물 링크 매핑</a>
            </div>
        </div>
    </div>

    <!-- Item -->
    <div class="row pb-5 mb-md-4 mb-lg-5">
        <div class="rellax col-md-6 pb-1 mb-3 pb-md-0 mb-md-0" data-rellax-percentage="0.5" data-rellax-speed="0.8"
             data-disable-parallax-down="md">
            <a href="portfolio-single-project.html">
                <img src="{{content.content_img01}}" class="rounded-3" width="600" alt="DB Query 필요">
            </a>
        </div>
        <div class="rellax col-md-6 pt-md-4 pt-lg-5" data-rellax-percentage="0.5" data-rellax-speed="-0.6"
             data-disable-parallax-down="md">
            <div class="ps-md-4 ms-md-2">
                <div class="fs-sm text-muted mb-1">게시물 작성일자</div>
                <h2 class="h3">게시물 제목</h2>
                <a href="#" class="d-table badge bg-faded-primary text-primary fs-sm mb-3">작성자[링크]</a>
                <p class="d-md-none d-lg-block pb-3 mb-2 mb-md-3">게시물 내용</p>
                <a href="portfolio-single-project.html" class="btn btn-outline-primary">게시물 링크 매핑</a>
            </div>
        </div>
    </div>

    <!-- Item -->
    <div class="row pb-5 mb-md-4 mb-lg-5">
        <div class="rellax col-md-6 order-md-2 pb-1 mb-3 pb-md-0 mb-md-0" data-rellax-percentage="0.5"
             data-rellax-speed="0.8" data-disable-parallax-down="md">
            <a href="portfolio-single-project.html" class="float-md-end">
                <img src="{{content.content_img01}}" class="rounded-3" width="600" alt="DB Query 필요">
            </a>
        </div>
        <div class="rellax col-md-6 order-md-1 pt-md-4 pt-lg-5" data-rellax-percentage="0.5" data-rellax-speed="-0.6"
             data-disable-parallax-down="md">
            <div class="ps-md-4 ms-md-2">
                <div class="fs-sm text-muted mb-1">게시물 작성일자</div>
                <h2 class="h3">게시물 제목</h2>
                <a href="#" class="d-table badge bg-faded-primary text-primary fs-sm mb-3">작성자[링크]</a>
                <p class="d-md-none d-lg-block pb-3 mb-2 mb-md-3">게시물 내용</p>
                <a href="portfolio-single-project.html" class="btn btn-outline-primary">게시물 링크 매핑</a>
            </div>
        </div>
    </div>
</section>
