{% extends "base.html" %}
{% block content %}

<main class="page-wrapper">
    <!-- Page content -->
    <section class="position-relative h-100 pt-5 pb-4">

        <!-- Sign up form -->
        <div class="container d-flex flex-wrap justify-content-center h-100 pt-5">
            <div class="w-100 align-self-end pt-1 pt-md-4 pb-4" style="max-width: 526px;">
                <h1 class="text-center">Create Account</h1>
                <p class="text-center pb-3 mb-3">Already have an account? <a href="account-signin.html">Sign in here.</a></p>
                <form method="post" action="{% url 'common:signup' %}" class="needs-validation" novalidate>
                    {% csrf_token %}
                    {% include "form_errors.html" %}
                    <div class="row">
<div class="col-sm-6">
    <div class="position-relative mb-4">
        <label for="name" class="form-label fs-base">Name</label>
        <input type="text" class="form-control form-control-lg" name="username" id="username" required
                value="{{ form.username.value|default_if_none:'' }}">
        <div class="invalid-feedback position-absolute start-0 top-100">Please enter your name!</div>
    </div>
</div>
<div class="col-sm-6">
    <div class="position-relative mb-4">
        <label for="email" class="form-label fs-base">Email</label>
        <input type="text" class="form-control form-control-lg" name="email" id="email" required
                value="{{ form.email.value|default_if_none:'' }}">
        <div class="invalid-feedback position-absolute start-0 top-100">Please enter a valid email address!</div>
    </div>
</div>
<div class="col-12 mb-4">
    <label for="password" class="form-label fs-base">Password</label>
    <div class="password-toggle">
        <input type="password" class="form-control form-control-lg" name="password1" id="password1" required
                value="{{ form.password1.value|default_if_none:'' }}">
        <label class="password-toggle-btn" aria-label="Show/hide password">
            <input class="password-toggle-check" type="checkbox">
            <span class="password-toggle-indicator"></span>
        </label>
        <div class="invalid-feedback position-absolute start-0 top-100">Please enter a password!</div>
    </div>
</div>
<div class="col-12 mb-4">
    <label for="password-confirm" class="form-label fs-base">Confirm password</label>
    <div class="password-toggle">
        <input type="password" class="form-control form-control-lg" name="password2" id="password2" required
                value="{{ form.password2.value|default_if_none:'' }}">
        <label class="password-toggle-btn" aria-label="Show/hide password">
            <input class="password-toggle-check" type="checkbox">
            <span class="password-toggle-indicator"></span>
        </label>
        <div class="invalid-feedback position-absolute start-0 top-100">Please enter a password!</div>
    </div>
</div>
                    </div>
<div class="mb-4">
    <div class="form-check">
        <input type="checkbox" id="terms" class="form-check-input">
        <label for="terms" class="form-check-label fs-base">I agree to <a href="#">Terms &amp; Conditions</a></label>
    </div>
</div>
<button type="submit" class="btn btn-primary shadow-primary btn-lg w-100">Sign up</button>
                </form>
                <!-- <hr class="my-4">
                <h6 class="text-center mb-4">Or sign up with your social network</h6>
                <div class="row row-cols-1 row-cols-sm-2">
                    <div class="col mb-3">
                        <a href="#" class="btn btn-icon btn-secondary btn-google btn-lg w-100">
                            <i class="bx bxl-google fs-xl me-2"></i>
                            Google
                        </a>
                    </div>
                    <div class="col mb-3">
                        <a href="#" class="btn btn-icon btn-secondary btn-facebook btn-lg w-100">
                            <i class="bx bxl-facebook fs-xl me-2"></i>
                            Facebook
                        </a>
                    </div>
                </div> -->
            </div>
            <div class="w-100 align-self-end">
                <p class="nav d-block fs-xs text-center pb-2 mb-0">
                &copy; All rights reserved. Made by 
                <a class="nav-link d-inline-block p-0" href="#" rel="noopener">IntoonTeam</a>
                </p>    
            </div>
        </div>
    </section>
</main>
{% endblock %}